@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Light.eot");
  src: local("Code Pro Light"), local("Code-Pro-Light"), url("../fonts/Code-Pro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light.woff") format("woff"), url("../fonts/Code-Pro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro.eot");
  src: local("Code Pro"), local("Code-Pro"), url("../fonts/Code-Pro.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro.woff") format("woff"), url("../fonts/Code-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Light Demo';
  src: url("../fonts/Code-Pro-Light-Demo.eot");
  src: local("Code Pro Light Demo"), local("Code-Pro-Light-Demo"), url("../fonts/Code-Pro-Light-Demo.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light-Demo.woff") format("woff"), url("../fonts/Code-Pro-Light-Demo.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Bold LC';
  src: url("../fonts/Code-Pro-Bold-LC.eot");
  src: local("Code Pro Bold LC"), local("Code-Pro-Bold-LC"), url("../fonts/Code-Pro-Bold-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold-LC.woff") format("woff"), url("../fonts/Code-Pro-Bold-LC.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Bold.eot");
  src: local("Code Pro Bold"), local("Code-Pro-Bold"), url("../fonts/Code-Pro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold.woff") format("woff"), url("../fonts/Code-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Light LC';
  src: url("../fonts/Code-Pro-Light-LC.eot");
  src: local("Code Pro Light LC"), local("Code-Pro-Light-LC"), url("../fonts/Code-Pro-Light-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light-LC.woff") format("woff"), url("../fonts/Code-Pro-Light-LC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro LC';
  src: url("../fonts/Code-Pro-LC.eot");
  src: local("Code Pro LC"), local("Code-Pro-LC"), url("../fonts/Code-Pro-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-LC.woff") format("woff"), url("../fonts/Code-Pro-LC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Demo';
  src: url("../fonts/Code-Pro-Demo.eot");
  src: local("Code Pro Demo"), local("Code-Pro-Demo"), url("../fonts/Code-Pro-Demo.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Demo.woff") format("woff"), url("../fonts/Code-Pro-Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Black LC';
  src: url("../fonts/Code-Pro-Black-LC.eot");
  src: local("Code Pro Black LC"), local("Code-Pro-Black-LC"), url("../fonts/Code-Pro-Black-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Black-LC.woff") format("woff"), url("../fonts/Code-Pro-Black-LC.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Black.eot");
  src: local("Code Pro Black"), local("Code-Pro-Black"), url("../fonts/Code-Pro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Black.woff") format("woff"), url("../fonts/Code-Pro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html {
  width: 100%;
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem; }

.t-main-heading {
  font-family: 'Code Pro Bold LC', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 3.5rem; }
  @media (min-width: 768px) {
    .t-main-heading {
      font-size: 4rem; } }
  @media (min-width: 1280px) {
    .t-main-heading {
      font-size: 5rem; } }
  @media (min-width: 1600px) {
    .t-main-heading {
      font-size: 6rem; } }
  @media (min-width: 2560px) {
    .t-main-heading {
      font-size: 9rem; } }

.t-premium {
  font-size: 2rem;
  font-weight: 200; }

.t-premium-subheading {
  font-family: 'Code Pro', sans-serif; }

.t-heading {
  font-size: 2.7rem; }
  @media (min-width: 1600px) {
    .t-heading {
      font-size: 3.2rem; } }
  @media (min-width: 2560px) {
    .t-heading {
      font-size: 4rem; } }

.c-account {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-right: 6.66667%;
  padding-left: 6.66667%; }
  @media (min-width: 768px) {
    .c-account {
      padding-right: 13.02083%;
      padding-left: 13.02083%; } }
  @media (min-width: 1280px) {
    .c-account {
      padding-right: 13.04688%;
      padding-left: 13.04688%; } }
  @media (min-width: 1600px) {
    .c-account {
      padding-right: 15%;
      padding-left: 15%; } }
  @media (min-width: 2560px) {
    .c-account {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 15.625%;
      padding-left: 15.625%; } }
  @media (min-width: 768px) {
    .c-account__block {
      display: flex;
      justify-content: space-between;
      padding: 2.5rem;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
      border-radius: 1rem; } }
  .c-account__text {
    text-align: center;
    margin-bottom: 4rem; }
    @media (min-width: 768px) {
      .c-account__text {
        text-align: left;
        margin: 0; } }
  .c-account__heading {
    font-size: 2rem;
    font-weight: 600;
    color: #be463f;
    margin-bottom: 1.5rem; }
  .c-account__subheading {
    font-size: 2rem;
    font-weight: 600;
    color: #424242; }
  .c-account__create-button {
    background: #be463f;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 2.5rem;
    width: 23rem;
    font-weight: 600;
    text-align: center;
    color: white; }
    @media (min-width: 768px) {
      .c-account__create-button {
        margin: 0; } }

.c-connection-block {
  margin-bottom: 4rem; }
  @media (min-width: 1000px) {
    .c-connection-block {
      width: 30rem; } }
  .c-connection-block__text {
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 2.2rem;
    color: #424242;
    font-weight: 600; }

.c-features-description {
  margin-bottom: 4rem;
  width: 32rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1000px) {
    .c-features-description {
      margin-right: 0;
      margin-left: 0; } }
  .c-features-description__title {
    color: #6d6d6d;
    font-weight: 600;
    margin-bottom: 1.6rem; }
    @media (min-width: 1600px) {
      .c-features-description__title {
        font-size: 1.7rem; } }
    @media (min-width: 2560px) {
      .c-features-description__title {
        font-size: 2rem; } }
  .c-features-description__heading {
    width: 28rem;
    margin-bottom: 1.6rem; }
  .c-features-description__undertext {
    width: 25rem;
    font-size: 1.2rem;
    color: #6d6d6d;
    margin-bottom: 1.6rem; }
    @media (min-width: 1280px) {
      .c-features-description__undertext {
        font-size: 1.6rem; } }
    @media (min-width: 1600px) {
      .c-features-description__undertext {
        font-size: 1.8rem; } }
    @media (min-width: 2560px) {
      .c-features-description__undertext {
        font-size: 2rem; } }
  .c-features-description__arrows {
    width: 8rem;
    display: flex;
    justify-content: space-between; }
  .c-features-description__arrow-icon {
    border: 1px solid #919191;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; }
    .c-features-description__arrow-icon img {
      width: 50%; }
    .c-features-description__arrow-icon--selected {
      background: #be463f; }

.c-features-info {
  margin: 0 auto;
  position: relative; }
  @media (min-width: 1000px) {
    .c-features-info {
      margin-right: -16%;
      margin-left: 0;
      width: 70%;
      display: flex;
      justify-content: space-between; }
      .c-features-info:before {
        content: "";
        position: absolute;
        background: #be463f;
        top: -1rem;
        bottom: 3rem;
        left: -1rem;
        right: -2.5%;
        z-index: -9;
        border-radius: 1rem 0 0 1rem; } }
  @media (min-width: 1000px) and (min-width: 1600px) {
    .c-features-info {
      width: 80%;
      margin-right: -20%; } }
  .c-features-info__block {
    width: 23rem;
    margin: 0 auto;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
    background: white; }
    @media (min-width: 1000px) {
      .c-features-info__block {
        margin-right: 0;
        margin-left: 0;
        width: 30%;
        margin-bottom: 0; } }
    .c-features-info__block:not(:last-child) {
      margin-bottom: 3.5rem; }
      @media (min-width: 1000px) {
        .c-features-info__block:not(:last-child) {
          margin-bottom: 0; } }
  .c-features-info__icon {
    background: #f3f3f3;
    border-radius: 100%;
    width: 11.5rem;
    height: 11.5rem;
    margin: 0 auto 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1000px) {
      .c-features-info__icon {
        width: 7rem;
        height: 7rem; } }
    @media (min-width: 1600px) {
      .c-features-info__icon {
        width: 11rem;
        height: 11rem; } }
  .c-features-info__img {
    width: 4.4rem; }
  .c-features-info__block-info {
    padding: 0 4rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #6d6d6d;
    text-align: center; }
    @media (min-width: 1000px) {
      .c-features-info__block-info {
        padding: 0 1.2rem; } }
    @media (min-width: 1280px) {
      .c-features-info__block-info {
        width: 20rem;
        margin: 0 auto;
        font-size: 1.6rem; } }
    @media (min-width: 1600px) {
      .c-features-info__block-info {
        font-size: 0.9vw; } }

@media (min-width: 1000px) {
  .c-footer-lists {
    display: flex;
    justify-content: space-between;
    width: 40rem; } }

.c-footer-lists__list:not(:last-child) {
  margin-bottom: 3rem; }

.c-footer-lists__item {
  font-size: 1.4rem;
  font-weight: 600;
  color: #424242;
  text-align: center; }
  @media (min-width: 1000px) {
    .c-footer-lists__item {
      text-align: left; } }
  .c-footer-lists__item:not(:last-child) {
    margin-bottom: 1rem; }
  .c-footer-lists__item--title {
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem; }

.c-icons__item:not(:last-child) {
  margin-bottom: 3.2rem; }

.c-icons__view {
  width: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }

.c-icons__img {
  width: 100%; }

.c-icons__description {
  font-size: 1.6rem;
  text-align: center;
  padding: 0 1.2rem; }

.c-logotype {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .c-logotype {
      width: 17rem; } }
  @media (min-width: 1280px) {
    .c-logotype {
      width: 20rem; } }
  @media (min-width: 2560px) {
    .c-logotype {
      width: 30rem; } }
  .c-logotype__icon {
    width: 100%; }

.c-main-person {
  position: absolute;
  left: 5rem;
  right: 5rem;
  top: 25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: white;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem; }
  @media (min-width: 1000px) {
    .c-main-person {
      width: 20rem;
      top: 0;
      left: 67%; } }
  .c-main-person__avatar {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
  .c-main-person__img {
    width: 100%;
    border-radius: 100%; }
  .c-main-person__personal-dates {
    margin-top: 2rem; }
  .c-main-person__first-line {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center; }
  .c-main-person__second-line {
    color: #6d6d6d;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem; }

.c-members {
  position: relative;
  padding-bottom: 17rem;
  max-width: 35.1rem;
  margin: 0 auto; }
  @media (min-width: 1000px) {
    .c-members {
      width: 35.1rem;
      margin-left: 0;
      margin-right: 0;
      padding-right: 8rem; } }
  @media (min-width: 1280px) {
    .c-members {
      width: 50%;
      max-width: 70rem; } }
  .c-members__block {
    position: relative;
    border-radius: 1rem;
    padding: 5rem 3rem 4rem 3rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
    background: white; }
    @media (min-width: 1280px) {
      .c-members__block {
        padding-right: 12rem; } }
  .c-members__title {
    font-weight: 400;
    margin-bottom: 2.2rem; }
  .c-members__personal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem; }
  .c-members__person {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    margin-bottom: 1rem; }
  .c-members__img {
    border-radius: 100%;
    width: 100%; }

.c-mission-description {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;
  width: 32.5rem; }
  @media (min-width: 768px) {
    .c-mission-description {
      margin-right: 0;
      margin-left: 0; } }
  @media (min-width: 1280px) {
    .c-mission-description {
      width: 42.91845%; } }
  .c-mission-description__title {
    color: #6d6d6d;
    font-weight: 600;
    margin-bottom: 1.6rem; }
    @media (min-width: 1600px) {
      .c-mission-description__title {
        font-size: 1.7rem; } }
    @media (min-width: 2560px) {
      .c-mission-description__title {
        font-size: 2rem; } }
  .c-mission-description__heading {
    width: 29rem;
    margin-bottom: 1.6rem; }
    @media (min-width: 1280px) {
      .c-mission-description__heading {
        width: 45rem; } }
  .c-mission-description__text {
    font-size: 1.3rem;
    color: #6d6d6d;
    margin-bottom: 1.6rem; }
    @media (min-width: 1280px) {
      .c-mission-description__text {
        font-size: 1.6rem; } }
    @media (min-width: 1600px) {
      .c-mission-description__text {
        font-size: 1.8rem; } }
    @media (min-width: 2560px) {
      .c-mission-description__text {
        font-size: 2rem; } }
  .c-mission-description__learn {
    border: 1px solid #be463f;
    color: #be463f;
    font-weight: 600;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 1.8rem;
    font-size: 1.5rem;
    border-radius: 10rem; }
  .c-mission-description__arrow {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-mission-description__arrow-icon {
    width: 100%; }

.c-navigation__menu-bars {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1000px) {
    .c-navigation__menu-bars {
      display: none; } }

.c-navigation__menu-icon {
  width: 100%; }

.c-navigation__list {
  width: 300px;
  position: absolute;
  top: 100%;
  right: -100%;
  transition: 0.2s;
  padding-top: 2rem;
  background: purple; }
  @media (min-width: 1000px) {
    .c-navigation__list {
      transition: unset;
      width: 100%;
      padding: 0;
      position: static;
      display: flex; } }
  .c-navigation__list--activate {
    right: 0; }

.c-navigation__item {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600; }
  @media (min-width: 1600px) {
    .c-navigation__item {
      font-size: 1.8rem; } }
  @media (min-width: 2560px) {
    .c-navigation__item {
      font-size: 2.5rem; } }
  @media (min-width: 1000px) {
    .c-navigation__item {
      padding: 0 2.6rem 0 0; } }
  .c-navigation__item:not(:last-child) {
    margin-bottom: 2.5rem; }
    @media (min-width: 1000px) {
      .c-navigation__item:not(:last-child) {
        margin-bottom: 0; } }

.c-play-button {
  display: flex;
  align-items: center; }
  .c-play-button__icon {
    width: 3rem; }
  .c-play-button__img {
    width: 100%; }
  .c-play-button__text {
    padding: 0 1.2rem;
    font-weight: 200;
    color: white; }
  .c-play-button__bold {
    display: block;
    font-weight: 700; }

.c-premium {
  position: relative;
  width: 32.5rem;
  padding-bottom: 15.38462%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .c-premium {
      margin-right: 0;
      margin-left: 0; } }
  @media (min-width: 1280px) {
    .c-premium {
      width: 42.91845%; } }
  .c-premium__block {
    width: 67.69231%;
    border-radius: 1rem;
    background: #be463f;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 8rem;
    padding-left: 2rem; }
    @media (min-width: 1280px) {
      .c-premium__block {
        padding-bottom: 25%; } }
  .c-premium__title {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1.5rem; }
    @media (min-width: 1280px) {
      .c-premium__title {
        font-size: 2.5rem; } }
    @media (min-width: 1600px) {
      .c-premium__title {
        font-size: 3rem; } }
    @media (min-width: 2560px) {
      .c-premium__title {
        font-size: 3.5rem; } }
  .c-premium__subtitle {
    width: 20rem;
    font-size: 2.3rem;
    font-family: "Code Pro", sans-serif;
    color: white;
    line-height: 1.3; }
    @media (min-width: 1280px) {
      .c-premium__subtitle {
        font-size: 3.3rem; } }
    @media (min-width: 1600px) {
      .c-premium__subtitle {
        font-size: 4.3rem; } }
    @media (min-width: 2560px) {
      .c-premium__subtitle {
        font-size: 6.3rem; } }
  .c-premium__image-first {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -9; }
  .c-premium__image {
    width: 100%; }

.c-resources-description {
  margin-bottom: 4rem;
  width: 32.5rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .c-resources-description {
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 1280px) {
    .c-resources-description {
      width: 50rem; } }
  @media (min-width: 1600px) {
    .c-resources-description {
      width: 70rem; } }
  .c-resources-description__title {
    color: #6d6d6d;
    font-weight: 600;
    margin-bottom: 1.6rem; }
    @media (min-width: 1600px) {
      .c-resources-description__title {
        font-size: 1.7rem; } }
    @media (min-width: 2560px) {
      .c-resources-description__title {
        font-size: 2rem; } }
  .c-resources-description__heading {
    width: 28rem;
    margin-bottom: 1.6rem; }
    @media (min-width: 1280px) {
      .c-resources-description__heading {
        width: 80%; } }
  .c-resources-description__text {
    width: 32rem;
    font-size: 1.3rem;
    color: #6d6d6d;
    margin-bottom: 1.6rem; }
    @media (min-width: 1280px) {
      .c-resources-description__text {
        width: 100%;
        font-size: 1.6rem; } }
    @media (min-width: 1600px) {
      .c-resources-description__text {
        font-size: 1.8rem; } }
    @media (min-width: 2560px) {
      .c-resources-description__text {
        font-size: 2rem; } }

.c-social-links {
  display: flex; }
  .c-social-links__item {
    width: 3.5rem;
    padding: 0 0.2rem; }
  .c-social-links__icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.c-website-info {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem; }
  .c-website-info__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .c-website-info__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .c-website-info__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .c-website-info__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .c-website-info__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }

.l-body {
  overflow-x: hidden; }
  .l-body__header {
    z-index: 9999; }
  .l-body__main {
    z-index: 9980; }
  .l-body__footer {
    z-index: 9980; }

.l-header {
  padding-right: 6.66667%;
  padding-left: 6.66667%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%; }
  @media (min-width: 768px) {
    .l-header {
      padding-right: 13.02083%;
      padding-left: 13.02083%; } }
  @media (min-width: 1280px) {
    .l-header {
      padding-right: 13.04688%;
      padding-left: 13.04688%; } }
  @media (min-width: 1600px) {
    .l-header {
      padding-right: 15%;
      padding-left: 15%; } }
  @media (min-width: 2560px) {
    .l-header {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 15.625%;
      padding-left: 15.625%; } }
  @media (min-width: 768px) {
    .l-header {
      padding-top: 2rem;
      padding-bottom: 2rem; } }
  @media (min-width: 1280px) {
    .l-header {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem; } }
  @media (min-width: 1600px) {
    .l-header {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  @media (min-width: 2560px) {
    .l-header {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem; } }

.l-main {
  position: relative; }

.l-footer {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  background: #f9f8f8; }
  @media (min-width: 1280px) {
    .l-footer {
      padding-top: 5rem;
      padding-bottom: 7rem; } }
  @media (min-width: 1600px) {
    .l-footer {
      padding-top: 5.8rem;
      padding-bottom: 8rem; } }
  @media (min-width: 2560px) {
    .l-footer {
      padding-top: 6.6rem;
      padding-bottom: 9rem; } }
  .l-footer__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .l-footer__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .l-footer__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .l-footer__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .l-footer__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
    @media (min-width: 1000px) {
      .l-footer__inner {
        display: flex;
        justify-content: space-between; } }

.p-features {
  padding-top: 3.2rem;
  padding-bottom: 6rem; }
  @media (min-width: 1280px) {
    .p-features {
      padding-top: 5rem;
      padding-bottom: 7rem; } }
  @media (min-width: 1600px) {
    .p-features {
      padding-top: 5.8rem;
      padding-bottom: 8rem; } }
  @media (min-width: 2560px) {
    .p-features {
      padding-top: 6.6rem;
      padding-bottom: 9rem; } }
  .p-features__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-features__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-features__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-features__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-features__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
  @media (min-width: 1000px) {
    .p-features__body {
      display: flex;
      justify-content: space-between; } }

.p-index {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/mobile-hero.png");
  background-size: cover;
  background-position: center;
  padding-top: 20rem;
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    .p-index {
      background-image: url("../images/hero.png"); } }
  @media (min-width: 768px) {
    .p-index {
      padding-top: 30rem;
      padding-bottom: 2rem; } }
  @media (min-width: 1600px) {
    .p-index {
      padding-top: 35rem;
      padding-bottom: 12rem; } }
  @media (min-width: 2560px) {
    .p-index {
      padding-top: 50rem;
      padding-bottom: 12rem; } }
  .p-index__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-index__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-index__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-index__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-index__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
  .p-index__heading {
    width: 30rem;
    padding-right: 20.12384%;
    margin-bottom: 20rem; }

.p-mission {
  padding-top: 3.2rem;
  padding-bottom: 6rem; }
  @media (min-width: 1280px) {
    .p-mission {
      padding-top: 5rem;
      padding-bottom: 7rem; } }
  @media (min-width: 1600px) {
    .p-mission {
      padding-top: 5.8rem;
      padding-bottom: 8rem; } }
  @media (min-width: 2560px) {
    .p-mission {
      padding-top: 6.6rem;
      padding-bottom: 9rem; } }
  .p-mission__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-mission__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-mission__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-mission__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-mission__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
  @media (min-width: 768px) {
    .p-mission__body {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between; } }

.p-resources {
  padding-top: 3.2rem;
  padding-bottom: 6rem; }
  @media (min-width: 1280px) {
    .p-resources {
      padding-top: 5rem;
      padding-bottom: 7rem; } }
  @media (min-width: 1600px) {
    .p-resources {
      padding-top: 5.8rem;
      padding-bottom: 8rem; } }
  @media (min-width: 2560px) {
    .p-resources {
      padding-top: 6.6rem;
      padding-bottom: 9rem; } }
  .p-resources__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-resources__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-resources__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-resources__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-resources__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
  @media (min-width: 768px) {
    .p-resources__body {
      display: flex;
      justify-content: space-between; } }
