@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Light.eot");
  src: local("Code Pro Light"), local("Code-Pro-Light"), url("../fonts/Code-Pro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light.woff") format("woff"), url("../fonts/Code-Pro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro.eot");
  src: local("Code Pro"), local("Code-Pro"), url("../fonts/Code-Pro.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro.woff") format("woff"), url("../fonts/Code-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Light Demo';
  src: url("../fonts/Code-Pro-Light-Demo.eot");
  src: local("Code Pro Light Demo"), local("Code-Pro-Light-Demo"), url("../fonts/Code-Pro-Light-Demo.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light-Demo.woff") format("woff"), url("../fonts/Code-Pro-Light-Demo.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Bold LC';
  src: url("../fonts/Code-Pro-Bold-LC.eot");
  src: local("Code Pro Bold LC"), local("Code-Pro-Bold-LC"), url("../fonts/Code-Pro-Bold-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold-LC.woff") format("woff"), url("../fonts/Code-Pro-Bold-LC.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Bold.eot");
  src: local("Code Pro Bold"), local("Code-Pro-Bold"), url("../fonts/Code-Pro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold.woff") format("woff"), url("../fonts/Code-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Light LC';
  src: url("../fonts/Code-Pro-Light-LC.eot");
  src: local("Code Pro Light LC"), local("Code-Pro-Light-LC"), url("../fonts/Code-Pro-Light-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light-LC.woff") format("woff"), url("../fonts/Code-Pro-Light-LC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro LC';
  src: url("../fonts/Code-Pro-LC.eot");
  src: local("Code Pro LC"), local("Code-Pro-LC"), url("../fonts/Code-Pro-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-LC.woff") format("woff"), url("../fonts/Code-Pro-LC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Demo';
  src: url("../fonts/Code-Pro-Demo.eot");
  src: local("Code Pro Demo"), local("Code-Pro-Demo"), url("../fonts/Code-Pro-Demo.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Demo.woff") format("woff"), url("../fonts/Code-Pro-Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Black LC';
  src: url("../fonts/Code-Pro-Black-LC.eot");
  src: local("Code Pro Black LC"), local("Code-Pro-Black-LC"), url("../fonts/Code-Pro-Black-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Black-LC.woff") format("woff"), url("../fonts/Code-Pro-Black-LC.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Black.eot");
  src: local("Code Pro Black"), local("Code-Pro-Black"), url("../fonts/Code-Pro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Black.woff") format("woff"), url("../fonts/Code-Pro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html {
  width: 100%;
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem; }

.t-main-heading {
  font-family: 'Code Pro Bold LC', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 3.5rem; }
  @media (min-width: 768px) {
    .t-main-heading {
      font-size: 4rem; } }
  @media (min-width: 1280px) {
    .t-main-heading {
      font-size: 5rem; } }
  @media (min-width: 1600px) {
    .t-main-heading {
      font-size: 6rem; } }
  @media (min-width: 2560px) {
    .t-main-heading {
      font-size: 9rem; } }

.t-premium {
  font-size: 2rem;
  font-weight: 200; }

.t-premium-subheading {
  font-family: 'Code Pro', sans-serif; }

.t-heading {
  font-size: 2.7rem; }

.c-account {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-right: 6.66667%;
  padding-left: 6.66667%; }
  @media (min-width: 768px) {
    .c-account {
      padding-right: 13.02083%;
      padding-left: 13.02083%; } }
  @media (min-width: 1280px) {
    .c-account {
      padding-right: 13.04688%;
      padding-left: 13.04688%; } }
  @media (min-width: 1600px) {
    .c-account {
      padding-right: 15%;
      padding-left: 15%; } }
  @media (min-width: 2560px) {
    .c-account {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 15.625%;
      padding-left: 15.625%; } }
  .c-account__text {
    margin-bottom: 4rem; }
  .c-account__heading {
    font-size: 2rem;
    font-weight: 600;
    color: #be463f;
    margin-bottom: 1.5rem; }
  .c-account__subheading {
    font-size: 2rem;
    font-weight: 600;
    color: #424242; }
  .c-account__create-button {
    background: #be463f;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 2.5rem;
    width: 23rem;
    font-weight: 600;
    text-align: center;
    color: white; }

.c-connection-block {
  margin-bottom: 4rem; }
  .c-connection-block__text {
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 2.2rem;
    color: #424242;
    font-weight: 600; }

.c-description__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .c-description__col:not(:last-child) {
    margin-bottom: 2.5rem; }

.c-description__icon {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem; }
  .c-description__icon-img {
    width: 100%; }

.c-description__text {
  text-align: center;
  font-weight: 600; }

.c-features-description {
  margin-bottom: 4rem; }
  .c-features-description__title {
    color: #6d6d6d;
    font-weight: 600;
    margin-bottom: 1.6rem; }
  .c-features-description__heading {
    width: 28rem;
    margin-bottom: 1.6rem; }
  .c-features-description__undertext {
    width: 25rem;
    font-size: 1.2rem;
    color: #6d6d6d;
    margin-bottom: 1.6rem; }
  .c-features-description__arrows {
    width: 8rem;
    display: flex;
    justify-content: space-between; }
  .c-features-description__arrow-icon {
    border: 1px solid #919191;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; }
    .c-features-description__arrow-icon img {
      width: 50%; }
    .c-features-description__arrow-icon--selected {
      background: #be463f; }

.c-features-info {
  margin: 0 auto; }
  .c-features-info__block {
    width: 23rem;
    margin: 0 auto;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15); }
    .c-features-info__block:not(:last-child) {
      margin-bottom: 3.5rem; }
  .c-features-info__icon {
    background: #f3f3f3;
    border-radius: 100%;
    width: 11.5rem;
    height: 11.5rem;
    margin: 0 auto 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-features-info__img {
    width: 4.4rem; }
  .c-features-info__block-info {
    padding: 0 4rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #6d6d6d;
    text-align: center; }

.c-footer-lists__list:not(:last-child) {
  margin-bottom: 3rem; }

.c-footer-lists__item {
  font-size: 1.4rem;
  font-weight: 600;
  color: #424242;
  text-align: center; }
  .c-footer-lists__item:not(:last-child) {
    margin-bottom: 1rem; }
  .c-footer-lists__item--title {
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem; }

.c-logotype {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .c-logotype {
      width: 17rem; } }
  @media (min-width: 1280px) {
    .c-logotype {
      width: 20rem; } }
  @media (min-width: 2560px) {
    .c-logotype {
      width: 30rem; } }
  .c-logotype__icon {
    width: 100%; }

.c-main-person {
  position: absolute;
  left: 5rem;
  right: 5rem;
  top: 25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: white;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem; }
  .c-main-person__avatar {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
  .c-main-person__img {
    width: 100%;
    border-radius: 100%; }
  .c-main-person__personal-dates {
    margin-top: 2rem; }
  .c-main-person__first-line {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center; }
  .c-main-person__second-line {
    color: #6d6d6d;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem; }

.c-members {
  position: relative;
  padding-bottom: 17rem; }
  .c-members__block {
    border-radius: 1rem;
    padding: 5rem 3rem 4rem 3rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
    background: white; }
  .c-members__title {
    font-weight: 400;
    margin-bottom: 2.2rem; }
  .c-members__personal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem; }
  .c-members__person {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    margin-bottom: 1rem; }
  .c-members__img {
    border-radius: 100%;
    width: 100%; }

.c-mission-description {
  margin-bottom: 4rem; }
  .c-mission-description__title {
    color: #6d6d6d;
    font-weight: 600;
    margin-bottom: 1.6rem; }
  .c-mission-description__heading {
    width: 29rem;
    font-size: 2.7rem;
    margin-bottom: 1.6rem; }
  .c-mission-description__text {
    width: 32rem;
    font-size: 1.3rem;
    margin-bottom: 5rem; }
  .c-mission-description__button {
    border: 1px solid #be463f;
    border-radius: 5rem;
    padding: 1.4rem 2.5rem;
    width: 16.1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #be463f;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .c-mission-description__arrow {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .c-mission-description__arrow-icon {
      width: 100%; }

.c-navigation__menu-bars {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1000px) {
    .c-navigation__menu-bars {
      display: none; } }

.c-navigation__menu-icon {
  width: 100%; }

.c-navigation__list {
  width: 300px;
  position: absolute;
  top: 100%;
  right: -100%;
  transition: 0.2s;
  padding-top: 2rem;
  background: purple; }
  @media (min-width: 1000px) {
    .c-navigation__list {
      transition: unset;
      width: 100%;
      padding: 0;
      position: static;
      display: flex; } }
  .c-navigation__list--activate {
    right: 0; }

.c-navigation__item {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600; }
  @media (min-width: 1600px) {
    .c-navigation__item {
      font-size: 1.8rem; } }
  @media (min-width: 2560px) {
    .c-navigation__item {
      font-size: 2.5rem; } }
  @media (min-width: 1000px) {
    .c-navigation__item {
      padding: 0 2.6rem 0 0; } }
  .c-navigation__item:not(:last-child) {
    margin-bottom: 2.5rem; }
    @media (min-width: 1000px) {
      .c-navigation__item:not(:last-child) {
        margin-bottom: 0; } }

.c-play-button {
  display: flex;
  align-items: center; }
  .c-play-button__icon {
    width: 3rem; }
  .c-play-button__img {
    width: 100%; }
  .c-play-button__text {
    padding: 0 1.2rem;
    font-weight: 200;
    color: white; }
  .c-play-button__bold {
    display: block;
    font-weight: 700; }

.c-premium {
  position: relative;
  padding-bottom: 15.38462%; }
  .c-premium__block {
    border-radius: 1.5rem;
    width: 55.38462%;
    padding: 2rem 2rem 10rem 2rem;
    background: #be463f; }
  .c-premium__premium-heading {
    margin-bottom: 1.5rem;
    color: white; }
  .c-premium__premium-subheading {
    color: white; }
  .c-premium__images {
    z-index: -9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .c-premium__image-one {
    position: absolute;
    top: 4.30769%;
    right: 15.38462%;
    width: 36.92308%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-premium__image-two {
    position: absolute;
    width: 55.38462%;
    top: 20.61538%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-premium__image-three {
    position: absolute;
    width: 52.30769%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-premium__image {
    width: 100%; }

.c-resources-description {
  margin-bottom: 4rem; }
  .c-resources-description__title {
    color: #6d6d6d;
    font-weight: 600;
    margin-bottom: 1.6rem; }
  .c-resources-description__heading {
    width: 28rem;
    margin-bottom: 1.6rem; }
  .c-resources-description__text {
    width: 32rem;
    font-size: 1.3rem;
    color: #6d6d6d;
    margin-bottom: 1.6rem; }

.c-social-links {
  display: flex; }
  .c-social-links__item {
    width: 3.5rem;
    padding: 0 0.2rem; }
  .c-social-links__icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.l-body {
  overflow-x: hidden; }
  .l-body__header {
    z-index: 9999; }
  .l-body__main {
    z-index: 9980; }
  .l-body__footer {
    z-index: 9980; }

.l-header {
  padding-right: 6.66667%;
  padding-left: 6.66667%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%; }
  @media (min-width: 768px) {
    .l-header {
      padding-right: 13.02083%;
      padding-left: 13.02083%; } }
  @media (min-width: 1280px) {
    .l-header {
      padding-right: 13.04688%;
      padding-left: 13.04688%; } }
  @media (min-width: 1600px) {
    .l-header {
      padding-right: 15%;
      padding-left: 15%; } }
  @media (min-width: 2560px) {
    .l-header {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 15.625%;
      padding-left: 15.625%; } }
  @media (min-width: 768px) {
    .l-header {
      padding-top: 2rem;
      padding-bottom: 2rem; } }
  @media (min-width: 1280px) {
    .l-header {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem; } }
  @media (min-width: 1600px) {
    .l-header {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  @media (min-width: 2560px) {
    .l-header {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem; } }

.l-main {
  position: relative; }

.l-footer {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  background: #f9f8f8; }
  .l-footer__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .l-footer__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .l-footer__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .l-footer__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .l-footer__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }

.p-features {
  padding-top: 3.2rem;
  padding-bottom: 6rem; }
  .p-features__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-features__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-features__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-features__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-features__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }

.p-index {
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/mobile-hero.png");
  background-size: cover;
  background-position: center;
  padding-top: 20rem;
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    .p-index {
      background-image: url("../images/hero.png"); } }
  @media (min-width: 768px) {
    .p-index {
      padding-top: 30rem;
      padding-bottom: 2rem; } }
  @media (min-width: 1600px) {
    .p-index {
      padding-top: 35rem;
      padding-bottom: 12rem; } }
  @media (min-width: 2560px) {
    .p-index {
      padding-top: 50rem;
      padding-bottom: 12rem; } }
  .p-index__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-index__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-index__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-index__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-index__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
  .p-index__heading {
    width: 30rem;
    padding-right: 20.12384%;
    margin-bottom: 20rem; }

.p-mission {
  padding-top: 3.2rem;
  padding-bottom: 6rem; }
  .p-mission__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-mission__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-mission__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-mission__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-mission__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
  .p-mission__heading {
    margin-bottom: 5rem; }

.p-resources {
  padding-top: 3.2rem;
  padding-bottom: 6rem; }
  .p-resources__inner {
    padding-right: 6.66667%;
    padding-left: 6.66667%; }
    @media (min-width: 768px) {
      .p-resources__inner {
        padding-right: 13.02083%;
        padding-left: 13.02083%; } }
    @media (min-width: 1280px) {
      .p-resources__inner {
        padding-right: 13.04688%;
        padding-left: 13.04688%; } }
    @media (min-width: 1600px) {
      .p-resources__inner {
        padding-right: 15%;
        padding-left: 15%; } }
    @media (min-width: 2560px) {
      .p-resources__inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15.625%;
        padding-left: 15.625%; } }
