@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Light.eot");
  src: local("Code Pro Light"), local("Code-Pro-Light"), url("../fonts/Code-Pro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light.woff") format("woff"), url("../fonts/Code-Pro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro.eot");
  src: local("Code Pro"), local("Code-Pro"), url("../fonts/Code-Pro.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro.woff") format("woff"), url("../fonts/Code-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Light Demo';
  src: url("../fonts/Code-Pro-Light-Demo.eot");
  src: local("Code Pro Light Demo"), local("Code-Pro-Light-Demo"), url("../fonts/Code-Pro-Light-Demo.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light-Demo.woff") format("woff"), url("../fonts/Code-Pro-Light-Demo.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Bold LC';
  src: url("../fonts/Code-Pro-Bold-LC.eot");
  src: local("Code Pro Bold LC"), local("Code-Pro-Bold-LC"), url("../fonts/Code-Pro-Bold-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold-LC.woff") format("woff"), url("../fonts/Code-Pro-Bold-LC.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Bold.eot");
  src: local("Code Pro Bold"), local("Code-Pro-Bold"), url("../fonts/Code-Pro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold.woff") format("woff"), url("../fonts/Code-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Light LC';
  src: url("../fonts/Code-Pro-Light-LC.eot");
  src: local("Code Pro Light LC"), local("Code-Pro-Light-LC"), url("../fonts/Code-Pro-Light-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Light-LC.woff") format("woff"), url("../fonts/Code-Pro-Light-LC.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro LC';
  src: url("../fonts/Code-Pro-LC.eot");
  src: local("Code Pro LC"), local("Code-Pro-LC"), url("../fonts/Code-Pro-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-LC.woff") format("woff"), url("../fonts/Code-Pro-LC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Demo';
  src: url("../fonts/Code-Pro-Demo.eot");
  src: local("Code Pro Demo"), local("Code-Pro-Demo"), url("../fonts/Code-Pro-Demo.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Demo.woff") format("woff"), url("../fonts/Code-Pro-Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro Black LC';
  src: url("../fonts/Code-Pro-Black-LC.eot");
  src: local("Code Pro Black LC"), local("Code-Pro-Black-LC"), url("../fonts/Code-Pro-Black-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Black-LC.woff") format("woff"), url("../fonts/Code-Pro-Black-LC.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Code Pro';
  src: url("../fonts/Code-Pro-Black.eot");
  src: local("Code Pro Black"), local("Code-Pro-Black"), url("../fonts/Code-Pro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Black.woff") format("woff"), url("../fonts/Code-Pro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html {
  font-size: 62.5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem; }

.c-logotype {
  width: 10.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .c-logotype__icon {
    width: 100%; }

.c-navigation__menu-bars {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.c-navigation__menu-icon {
  width: 100%; }

.c-navigation__list {
  width: 300px;
  position: absolute;
  top: 100%;
  right: -100%;
  transition: 0.2s;
  padding-top: 2rem;
  background: purple; }
  .c-navigation__list--activate {
    right: 0; }

.c-navigation__item {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600; }
  .c-navigation__item:not(:last-child) {
    margin-bottom: 2.5rem; }

.l-body {
  overflow: hidden; }
  .l-body__header {
    z-index: 9999; }

.l-header {
  padding-right: 6.66667%;
  padding-left: 6.66667%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%; }
  @media (min-width: 768px) {
    .l-header {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 7.8125%;
      padding-left: 7.8125%; } }
  @media (min-width: 1280px) {
    .l-header {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 13.04688%;
      padding-left: 13.04688%; } }
  @media (min-width: 1600px) {
    .l-header {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 11.25%;
      padding-left: 11.25%; } }
  @media (min-width: 1600px) {
    .l-header {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 11.71875%;
      padding-left: 11.71875%; } }
