body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}
.t-main-heading {
  font-family: 'Code Pro Bold LC', sans-serif;
  color: $heading-primary-color;
  text-transform: uppercase;
  font-size: 3.5rem;
}