body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}
.t-main-heading {
  font-family: 'Code Pro Bold LC', sans-serif;
  color: $heading-primary-color;
  text-transform: uppercase;
  font-size: 3.5rem;

  @include respond-to(tablet) {
    font-size: 4rem;
  }
  @include respond-to(desktop) {
    font-size: 5rem;
  }
  @include respond-to(desktop-large) {
    font-size: 6rem;
  }
  @include respond-to(desktop-el) {
    font-size: 9rem;
  }
}
.t-premium {
  font-size: 2rem;
  font-weight: 200;
}

.t-premium-subheading {
  font-family: 'Code Pro', sans-serif;
}