.c-account {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  @include container;

  &__block {
    @include respond-to(tablet) {
      display: flex;
      justify-content: space-between;
      padding: 2.5rem;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
      border-radius: 1rem;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 4rem;
    @include respond-to(tablet) {
      text-align: left;
      margin: 0;
    }
  }
  &__heading {
    font-size: 2rem;
    font-weight: 600;
    color: $text-color-red;
    margin-bottom: 1.5rem;
  }

  &__subheading {
    font-size: 2rem;
    font-weight: 600;
    color: $text-color;
  }
  &__create-button {
    background: $color-red;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 2.5rem;
    width: 23rem;
    font-weight: 600;
    text-align: center;
    color: $text-light-color;
    @include respond-to(tablet) {
      margin: 0;
    }
  }
}