.c-logotype {
  //width: 125 / 375 * 100%;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to(tablet) {
    width: 17rem;
  }

  @include respond-to(desktop) {
    width: 20rem;
  }
  @include respond-to(desktop-el) {
    width: 30rem;
  }
  &__icon {
    width: 100%;
  }
}