.c-navigation {

  &__menu-bars {
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to(desktop-small) {
      display: none;
    }
  }
  &__menu-icon {
    width: 100%;
  }

  &__list {
    width: 300px;
    position: absolute;
    top: 100%;
    right: -100%;
    transition: 0.2s;
    padding-top: 2rem;
    background: $color-primary;

    @include respond-to(desktop-small) {
      transition: unset;
      width: 100%;
      padding: 0;
      position: static;
      display: flex;
      background: none;
    }
    &--activate {
      right: 0;
    }
  }
  &__item {
    text-align: center;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to(tablet) {
      color: $text-light-color;
    }
    @include respond-to(desktop-large) {
      font-size: 1.8rem;
    }
    @include respond-to(desktop-el) {
      font-size: 2.5rem;
    }
    @include respond-to(desktop-small) {
      padding: 0 2.6rem 0 0;
    }
    &:not(:last-child){
      margin-bottom: 2.5rem;
      @include respond-to(desktop-small) {
        margin-bottom: 0;
      }
    }
  }
  &__button {
    border-radius: 2rem;
    width: 10rem;
    margin: 0 auto;
    padding: 1rem;
    background: $color-red;
    color: $text-light-color;
  }
}