.c-premium {
  padding-bottom: 5rem;
  position: relative;

  &__block {
    width: 20rem;
    border-radius: 1rem;
    background: $color-red;
    padding: 2rem 0 5rem 2rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 400;
    color: $text-light-color;
    margin-bottom: 1.5rem;
  }
  &__subtitle {
    font-size: 2.3rem;
    font-family: "Code Pro", sans-serif;
    color: $text-light-color;
    line-height: 1.3;
  }

  &__image-first {
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    z-index: -9;
  }
  &__image-second {
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 7.5rem;
    z-index: -8;

  }
  &__image-third {
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18rem;
    left: 1.5rem;
    z-index: -8;
  }
  &__image {
    width: 100%;
  }
}