.c-premium {
  //padding-bottom: 5rem;
  position: relative;
  width: 32.5rem;
  padding-bottom: 50 / 325 * 100%;
  margin: 0 auto;
  @include respond-to(tablet) {
    margin-right: 0;
    margin-left: 0;
  }
  @include respond-to(desktop) {
    width: 400 / 932 * 100%;
  }
  &__block {
    width: 220 / 325 * 100%;
    border-radius: 1rem;
    background: $color-red;
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 8rem;
    padding-left: 2rem;
    @include respond-to(desktop) {
      padding-bottom: 25%;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 400;
    color: $text-light-color;
    margin-bottom: 1.5rem;
    @include respond-to(desktop) {
      font-size: 2.5rem;
    }
    @include respond-to(desktop-large) {
      font-size: 3rem;
    }
    @include respond-to(desktop-el) {
      font-size: 3.5rem;
    }
  }
  &__subtitle {
    width: 20rem;
    font-size: 2.3rem;
    font-family: "Code Pro", sans-serif;
    color: $text-light-color;
    line-height: 1.3;
    @include respond-to(desktop) {
      font-size: 3.3rem;
    }
    @include respond-to(desktop-large) {
      font-size: 4.3rem;
    }
    @include respond-to(desktop-el) {
      font-size: 6.3rem;
    }
  }

  &__image-first {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 30rem;
    z-index: -9;
  }

  &__image {
    width: 100%;
  }
}