.l-footer {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  background: $color-secondary-grey;

  &__inner {
    @include container;
    @include respond-to(desktop-small) {
      display: flex;
      justify-content: space-between;
    }
  }
}