.l-header {
  @include container;
  @include vertical-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg, #8D1F1F -8.42%, rgba(255, 255, 255, 0) 100%), #6F0000;
}