.p-mission {
  padding-top: 3.2rem;
  padding-bottom: 6rem;

  &__inner {
    @include container;
  }

  &__heading {
    border: 1px solid black;
    margin-bottom: 5rem;
  }

  &__body {
    border: 1px solid blue;
  }
}