@mixin respond-to($breakpoint){
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
@mixin  vertical-padding {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  @include respond-to(tablet){
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @include respond-to(desktop){
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  @include respond-to(desktop-large){
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @include respond-to(desktop-el){
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
@mixin container {
  //padding: 0 2.5rem;
  padding-right: 25 / 375 * 100%;
  padding-left: 25 / 375 * 100%;

  @include respond-to(tablet) {
    //padding: 0 10rem;
    padding-right: 100 / 768 * 100%;
    padding-left: 100 / 768 * 100%;
  }
  @include respond-to(desktop) {
    //padding: 0 16.7rem;
    padding-right: 167 / 1280 * 100%;
    padding-left: 167 / 1280 * 100%;
  }
  @include respond-to(desktop-large) {
    //padding: 0 18rem;
    padding-right: 240 / 1600 * 100%;
    padding-left: 240 / 1600 * 100%;
  }

  @include respond-to(desktop-el) {
    //padding: 0 30rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 400 / 2560 * 100%;
    padding-left: 400 / 2560 * 100%;
  }
}