$color-primary: rgb(255, 255, 255) !default;
$color-secondary-dark: rgb(0, 0, 0) !default;
$color-secondary-light: rgb(66, 66, 66) !default;
$color-red: rgb(190, 70, 63) !default;

// Headings
$heading-primary-color: $color-secondary-dark;
$heading-secondary-color: $color-red;

// Paragraphs
$text-color: $color-secondary-light;

$breakpoints: (
  tablet: 768px,
  desktop: 1280px,
  desktop-large:  1600px,
  desktop-el: 2560px,
) !default;
